/* Basic CSS browser reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


/* TAGs */
html {
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    background: #457fca;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
}

img {
    height: 2.4rem;
    width: 2.4rem;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}


/* CLASSES */
.container {
    margin: 0 auto;
    max-width: 52rem;
}

.section-search {
    margin: 2rem;
    max-width: 45rem;
    min-width: 13rem;
    text-align: center;
}

.search-input {
    font-size: 1.65rem;
    color: whitesmoke;
    background-color: transparent;
    width: 70%;
    outline: none;
    border: 0;
    border-bottom: 0.05rem solid white;
    padding: 0.5rem 0.6rem;
    margin: 4rem 0 0.75rem 1.25rem;
    min-width: 12.5rem;
    backface-visibility: hidden;
    z-index: 1;
}

.search-input::placeholder {
    color: rgb(32, 32, 32);
    transition: ease-in-out 0.25s;
}
/* Input field's placeholder - smaller font-size font when in focus*/
.search-input:focus::-webkit-input-placeholder {
    font-size: 1.3rem;
}

.search-input:focus:-moz-placeholder {
    font-size: 1.3rem;
}

.btn {
    font-size: 1.1rem;
    outline: none;
    cursor: pointer;
    transition: ease-out 0.2s;
}

.btn-search {
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    margin-left: -3.5rem;
    transition: ease-out 0.2s;
}

.btn-search:hover,
.btn-search:active {
    transform: scale(1.3);
}

.btn-random,
.btn-new-search {
    color: white;
    background-color: transparent;
    padding: .6rem 2rem;
    border: 0.05rem solid white;
    border-radius: 0.31rem;
    margin: 0.5rem 1rem;
}

.btn-random:hover,
.btn-random:active,
.btn-new-search:hover,
.btn-new-search:active {
    color: #5691c8;
    background-color: white;
}

.section-results {
    margin: 2.5rem 1.5rem 2rem;
}

.result-div,
.suggest-div {
    margin: .3rem 1.5rem;
    padding: 1rem 1.5rem;
}

.result-stats {
    font-size: .95rem;
    color: rgb(32, 32, 32);
    margin: 0 1.5rem;
    text-align: center
}

.result-link,
.suggest-div {
    display: block;
    font-size: 1.3rem;
    font-weight: 500;
    color: whitesmoke;
}

.result-body {
    font-size: 1.05rem;
    color: rgb(32, 32, 32);
    padding: 0.3rem 0;
}

.result-word-count {
    font-size: .9rem;
    font-weight: bold;
    color: rgb(32, 32, 32);
}

.suggest-query {
    color: darkblue;
    cursor: pointer;
}

.suggest-query:hover {
    text-decoration: underline;
}

.alert {
    font-size: 1.2rem;
    color: whitesmoke;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.4);
    padding: 0.75rem;
    border: none;
    margin: 1rem;
}
