/* Basic CSS browser reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


/* TAGs */
html {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: .04rem;
  background: #457fca;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
}

a:link,
a:visited {
  text-decoration: none;
}

/* CLASSES */
.container {
  margin: 0 auto;
  max-width: 52rem;
}

.section__search {
  margin: 4rem 2rem 2rem 2rem;
  max-width: 45rem;
  min-width: 13rem;
  text-align: center;
}

.search-input {
  font-size: 1.5rem;
  letter-spacing: .04rem;
  color: whitesmoke;
  background-color: transparent;
  width: 75%;
  display: block;
  outline: none;
  border: 0;
  border-bottom: .05rem solid white;
  padding: 0.5rem .75rem;
  margin: .75rem auto;
  min-width: 12.5rem;
  /* backface-visibility: hidden; */
}

.search-input::placeholder {
  color: rgb(51, 51, 51);
  transition: ease-in-out 0.25s;
}
/* Input field's placeholder - smaller font-size font when in focus*/
.search-input:focus::-webkit-input-placeholder {
  font-size: 1.3rem;
}

.search-input:focus:-moz-placeholder {
  font-size: 1.3rem;
}

.btn {
  font-size: 1.05rem;
  letter-spacing: .07rem;
  outline: none;
  cursor: pointer;
  transition: all ease-out 0.2s;
}

.btn-random-wiki,
.btn-new-search {
  color: white;
  background-color: transparent;
  padding: .6rem 1.85rem;
  border: .05rem solid white;
  border-radius: .31rem;
  margin: .5rem .3rem;
  box-shadow: 0 .5rem .8rem rgba(0,0,0,.3);
}

.btn-random-wiki:hover,
.btn-new-search:hover {
  color: #5691c8;
  background-color: white;
  transform: translateY(-.27rem);
  box-shadow: 0 1.2rem 1.6rem rgba(0,0,0,.2);
}

.btn-random-wiki:active,
.btn-new-search:active {
  transform: translateY(-.1rem);
  box-shadow: 0 .7rem 1rem rgba(0,0,0,.3);
}

.section__results {
  padding: 2rem 1.5rem 3rem;
}

.stats {
  font-size: 1rem;
  letter-spacing: 0.02rem;
  color: rgb(51, 51, 51);
  margin: 0 1.5rem;
  text-align: center;
}

.result__div {
  margin: 1.3rem 1.5rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 .6rem 1rem rgba(0,0,0,.2);
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  color: whitesmoke;
  transition: all ease-out .15s;
}

.snippet {
  font-size: 1rem;
  color: rgb(32, 32, 32);
  padding: 0.3rem 0;
  line-height: 140%;
  letter-spacing: 0.03rem;
  margin: .5rem 0; 
}

.word-count {
  font-size: 0.95rem;
  font-weight: bold;
  color: rgb(32, 32, 32);
  letter-spacing: .02rem;
  margin-bottom: .7rem;
}

.query-art {
  font-size: 1rem;
  color: whitesmoke;
  cursor: pointer;
  font-weight: 500;
  text-align: right;
  padding: 0.2rem .7rem;
  margin: 0 .5rem;
  float: right;
  transition: all ease-out .2s;
}

.query-art:hover,
.article-link:hover {
  padding-bottom: .25rem;
  border-bottom: .07rem solid whitesmoke;
}

.query-art:hover {
  transform: translateX(.5rem);
  box-shadow: 0 .6rem 1rem rgba(0,0,0,.2);
}

.query-art:active {
  transform: translate(.5rem, .08rem);
  box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
}

.query-sug {
  color: rgb(0, 0, 134);
  cursor: pointer;
  transition: all ease-out .2s;
}

.query-sug:hover {
  padding-bottom: .2rem;
  border-bottom: .07rem solid rgb(0, 0, 134);
}

.alert-div {
  text-align: center;
  background-color: rgba(255, 0, 0, 0.4);
  border: none;
  margin: 1rem;
}

.alert-msg {
  font-size: 1.2rem;
  font-weight: 500;
  color: whitesmoke;
  padding: 0.75rem;
}
